{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
	<h1><a href="/api/pokemon">{{ title }}</a></h1>

	<br>
	<h3>{{ pokemon.name }}</h3>
	<h4><span class="info-label">No. </span>{{ pokemon.num }}</h4>
	<h4><span class="info-label">Type: </span>{{ pokemon.type }}</h4>
	<h2>Edit Information</h2>
	<form action="/api/pokemon/{{pokemon.id}}?_method=PUT" method="post">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" name="name" class="form-control" id="name" placeholder = "{{pokemon.name}}">
		</div>
		<div class="form-group">
			<label for="num">No.</label>
			<input type="number" name="num" class="form-control" id="num"
			placeholder="{{pokemon.num}}">
		</div>
		<div class="form-group">
			<label for="type">Type</label>
			<input type="text" name="type" class="form-control" id="type"
			placeholder="{{pokemon.type}}">
		</div>
		<button class="btn btn-default" type="submit">Update</button>
	</form>

	<br>

	<form action="/api/pokemon/{{pokemon.id}}?_method=DELETE" method="post" class="form-inline">
		<button type="submit" class="btn btn-default">Delete</button>
	</form>

</div>

{% endblock %}